@(templates: List[Template], templateForm: Form[Template])

@import helper._

@main("Template list") {
    
    <h1>@templates.size() template(s)</h1>
    
    <ul>
        @for(template <- templates) {
            <li>
                @template.label
                
                @form(routes.Application.deleteTemplate(template.id)) {
                    <input type="submit" value="Delete">
                }
                
               @form(routes.Application.viewTemplate(template.id)) {
                    <input type="submit" value="View">
                }
            </li>
        }
    </ul>
    
    <h2>Add a new template</h2>
    
    @form(routes.Application.newTemplate()) {
        
        @inputText(templateForm("label"))
         @inputText(templateForm("htmlText"))  
        
        <input type="submit" value="Create">
        
    }
    
}
